on init
    mkdir /cust

    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root

    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root

    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1

on emmc-fs
    mount_all ./fstab.huawei

service rmt_storage /system/bin/rmt_storage
    class core
    disabled

service rmt_oeminfo /system/bin/rmt_oeminfo
    class core
    disabled

service gpu_dcvsd /system/bin/gpu_dcvsd
    class late_start
    user root
    oneshot

on property:ro.emmc=1
    start rmt_oeminfo
    start rmt_storage

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

